{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/a.css' %}">


		<div class="custom-bar-chart" style='  width: 70%;
  margin: 0 auto;
  margin-top: 3em;'>
          <ul class="y-axis">
            <li><span> 24 meses </span></li>
            <li><span>{{sin_inversion}} meses</span></li>
            <li><span>{{time_cetes}} meses</span></li>
            <li><span>{{time_rebus}} meses</span></li>            
	          <li><span> 0 meses </span></li>

          </ul>

           <div class="bar ">
              <div class="title">S/I</div>
              <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top" style="height: {{sin_inversion}}%;"></div>
          </div>
    
          <div class="bar ">
              <div class="title">CETES</div>
              <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top" style="height: {{time_cetes}}%;"></div>
          </div>
          <div class="bar">
              <div class="title">REBUS</div>
              <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top" style="height: {{time_rebus}}%;"></div>
          </div>
     </div>

{% endblock %}