{% extends 'base.html' %}
{% block content %}
	<div class="row">
		<div class="large-4 columns">
			<div class="panel">
			  <h5>Saldo a Favor.</h5>
			  <p>$ 200.00 MXN</p>
			</div>
			<div class="panel">
			  <h5>Saldo Restante.</h5>
			  <p>122,000.00 MXN</p>
			</div>
			<div class="panel">
			  <h5>Tiempo restante.</h5>
			  <p>2 meses, 4 dias</p>
			</div>
		</div>
		<div class="large-8 columns">
			<table>
			  <thead>
			    <tr>
			      <th width="200">Acciones</th>
			      <th>Inversión</th>
			      <th width="150">ROI</th>
			      <th width="150">ESP</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>Content Goes Here</td>
			      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			    <tr>
			      <td>Content Goes Here</td>
			      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			    <tr>
			      <td>Content Goes Here</td>
			      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>

{% endblock %}